.order{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F56B9A;
    margin-top: 30px;

    .order__heading{
        margin-bottom: 30px;
            font-family: "Sansita One";
            font-weight: 400;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
    }

    .order__total{
        margin-bottom: 10px;
        color: #FFFFFFB2;
        font-size: 1.2rem;
        font-family: "Fira Sans", sans-serif;
        font-style: italic;
    }

    .order__totalText{
        font-size: 2rem;
        color: white;
        text-shadow: 1px 1px #F56B9A;
        margin-bottom: 10px;
        font-family: "Fira Sans", sans-serif;
    }

    .order__button{
            min-width: 500px;
            min-height: 60px;
            color: white;
            font-size: 1.3rem;
            background-color: #37AEAB;
            border: none;
            border-radius: 3px;
            margin-top: 20px;
            margin-bottom: 40px;
            font-family: "Fira Sans", sans-serif;
            font-weight: 600;
            margin-bottom: 100px;
    }
}

@media (max-width: 600px) {
    .order{
    .order__button{
            min-width: 300px;
    }
}
}


