.landingPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 10px;

    .landingPage__logo{
        width: 400px;
    }

    .landingPage__heading{
        color: #F56B9A;
        font-family: "Sansita One";
        font-weight: 400;
        font-size: 2.5rem;
        text-shadow: 1px 1px black;
    }

    .landingPage__slogan{
        color: white;
        font-size: 2rem;
        font-family: "Fira Sans", sans-serif;
        font-style: italic;
        font-weight: 400;
        text-shadow: 1px 1px black;
        padding-bottom: 30px;
    }

}

@media (max-width: 600px){
    .landingPage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .landingPage__logo{
        width: 250px;
        margin-top: 0px;
    }

    .landingPage__heading{
        font-size: 1.5rem;
    }

    .landingPage__slogan{
        font-size: 1.2rem;
    }
    }
}